[submodule "dots/.vim/bundle/ansible-vim"]
	path = dots/.vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "dots/.vim/bundle/vim-markdown"]
	path = dots/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
