[submodule "dots/.vim/bundle/ansible-vim"]
	path = dots/.vim/bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "dots/.vim/bundle/rust.vim"]
	path = dots/.vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "dots/.vim/bundle/vim-markdown"]
	path = dots/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "dots/.vim/bundle/base16-vim"]
	path = dots/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "fonts/FiraCode"]
	path = fonts/FiraCode
	url = https://github.com/tonsky/FiraCode.git
